html {
    overflow: auto;
}

.Screen {
    max-height: 100%;
}

.Post {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    width: 50%;
    box-shadow: 2px 3px 5px grey;
    border: 1px solid black;
    border-radius: 5px;
    overflow: scroll;
}

.Title {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.Author {
    margin: auto;
    margin-bottom: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Paragraph {
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
    text-indent: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.Banana {
    margin: 50px;
}

.Banana>img {
    display: block;
    margin: auto;
}