.PostsUIButtons {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.PostsUIButton {
    user-select: none;
    padding: 10px;
    cursor: pointer;
}

.PostsUIButton:hover {
    background-color: #85b9e9;
    box-shadow: 0px 2px 10px grey;
}

.PostsUIButton:active {
    background-color: #5B9BD5;
    box-shadow: 0px 5px 10px grey;
}

@keyframes HoverShadow {
    from {
        box-shadow: 0px 0px 0px grey;
    }
    to {
        box-shadow: 3px 5px 10px grey;
    }
}

.PostPreview {
    user-select: none;
    width: 50%;
    margin: auto;
    cursor: pointer;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0px;
}

.PostPreview:active {
    background-color: rgb(245, 245, 245);
    box-shadow: 3px 5px 10px grey;
}

.PostPreview:hover {
    animation-duration: .4s;
    animation-name: HoverShadow; 
    animation-fill-mode: forwards;
}

.LogInMessage {
    text-align: center;
    height: 100vh
}

.PostTypeHeader {
    text-align: center;
}

.HomeTitle {
    border-bottom: 1px solid black;
}

.LoadMore {
    padding: 10px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100px;
    text-align: center;
    border: 1px solid black;
    user-select: none;
}

.LoadMore:hover {
    animation-duration: .4s;
    animation-name: HoverShadow; 
    animation-fill-mode: forwards;
}