.BoxFocusShadow {
    border: solid 1px black;
}

.BoxFocusShadow:focus-within {
    box-shadow: 3px 5px 10px grey;
}

.TitleEditorContainer {
    width: 50%;
    margin: auto;
}

.TitleEditor {
    margin: 5px;
    margin-top: 20px;
    padding: 5px;
}


.AuthorAndChapterEditorContainer {
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

.AuthorEditorContainer {
    
}

.AuthorEditor {
    margin: 5px;
    padding: 5px;
}

.ChapterEditorContainer {
   
}

.ChapterEditor {
    margin: 5px;
    padding: 5px;
}
.BodyEditorContainer {
    width: 50%;
    margin: auto;

}

.BodyEditor {
    margin: 5px;
    padding: 5px;
    min-height: 50vh;
}

.SubmitButton {
    user-select: none;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    width: 50px;
    border: 1px solid black;
}

.SubmitButton:hover {
    box-shadow: 3px 5px 10px grey;
}

.SubmitButton:active {
    box-shadow: 3px 5px 10px grey;
    background-color: black;
    color: white;
}